/* global styling goes here */
body {
  font-family: sans-serif;
  font-size: 16px;
}

:root {
  --highlight-color-left: #82c0cc;
  --background-color-left: #3943b7;
  --text-color-left: #ffffff;
  --highlight-color-right: #3943b7;
  --background-color-right: #ffffff;
  --text-color-right: #000505;
}

.container {
  margin: 40px auto;
  max-width: 1200px;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}
